In [ ]:

'''
WAP to generate the statistical summary of all the numerical features present in the given dataframe.

    eid                         ename                 stipend               position

0    1                           Sid                   10000                employee

1    2                          Ramesh                 10000                employee

2    3                           Ron                    5000                 intern

3    4                          Harry                  15000                senior_employee

'''

In [3]:
import pandas as pd
data = {"eid":[1,2,3,4],"ename":["Sid","Ramesh","Ron","Harry"],"stipend":[10000,10000,5000,15000],"position":["employee","employee","intern","senior_employee"]}
df = pd.DataFrame(data)
df.describe()

            eid       stipend
count  4.000000      4.000000
mean   2.500000  10000.000000
std    1.290994   4082.482905
min    1.000000   5000.000000
25%    1.750000   8750.000000
50%    2.500000  10000.000000
75%    3.250000  11250.000000
max    4.000000  15000.000000