# WAP to convert given a dictionary into corresponding dataframe and display it.

# dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],

#          	            'age' : [22, 25, 24],

#          	            'occ' : ['engineer', 'doctor', 'accountant']}

In [1]:
import pandas as pd  
dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],'age' : [22, 25, 24],'occ' : ['engineer', 'doctor', 'accountant']}
df = pd.DataFrame(dictionary)
df

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant