In [1]:
range(1,10)

range(1, 10)

In [2]:
print(range(1,10))

range(1, 10)

In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [7]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### while loop

### print the numebrs from 1 to 10

In [8]:
range(1,11,1)

range(1, 11)

In [9]:
#Approach 1
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [10]:
#Approach 2
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### even numbers between 1 to 50

In [36]:
i= 1
while i<51:
    if i%2==0:
        print(i,end=' ')
    i=i+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [35]:
for i in range(1,51):
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [33]:
for i in range(1,11):
    print(f"{i} My name is Lakhan")

1 My name is Lakhan
2 My name is Lakhan
3 My name is Lakhan
4 My name is Lakhan
5 My name is Lakhan
6 My name is Lakhan
7 My name is Lakhan
8 My name is Lakhan
9 My name is Lakhan
10 My name is Lakhan

In [34]:
for i in range(10):
    print(f"{i} hello World")

0 hello World
1 hello World
2 hello World
3 hello World
4 hello World
5 hello World
6 hello World
7 hello World
8 hello World
9 hello World

In [16]:
i = int(input("Enter the starting number : "))
end = int(input("Enter the ending number : "))
while i<(end+1):
    print(i)
    i=i+1

Enter the starting number : 1
Enter the ending number : 2
1
2

In [17]:
len(range(1,11))

10

In [18]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [19]:
#len(1)

In [20]:
for i in 1:
    print(i,end=' ')

TypeError: 'int' object is not iterable

In [21]:
len(77.7)

TypeError: object of type 'float' has no len()

In [22]:
for i in 77.7:
    print(i,end=' ')

TypeError: 'float' object is not iterable

In [23]:
len('1')

1

In [24]:
for i in '1':
    print(i,end=' ')

1

In [25]:
len(12345)

TypeError: object of type 'int' has no len()

In [26]:
str(12345)

'12345'

In [27]:
len(str(12345))

5

In [28]:
for i in str(12345):
    print(i)

1
2
3
4
5

In [29]:
len([10,20,30,40,50])

5

In [30]:
for i in [10,20,30,40,50]:
    print(i)

10
20
30
40
50

In [ ]:
len((20,40,60,80,100))

In [ ]:
for i in (20,40,60,80,100):
    print(i)

In [ ]:
for i in 10,20,30,40,50:
    print(i)

In [ ]:
x = {10,20,30,40,50}

In [ ]:
for i in x:
    print(i)

In [ ]:
list(range(1,11))

In [ ]:
x = list(range(1,11))
x

In [ ]:
for i in x:
    print(i,end=' ')

In [ ]:
for i in x:
    if i%2==0:
        print(i)

In [ ]:
for i in x:
    if i%2!=0:
        print(i)

In [ ]:
x = tuple(range(100,121))
x

In [ ]:
for i in x:
    print(i,end=' ')

In [ ]:
start = int(input("Enter the starting point :"))
end = int(input("Enter the ending point :"))
x = list(range(start,end+1))

for i in x:
    print(i)

### sum of all the numbers from 1 to 10

In [ ]:
sum = 0
for i in range(1,11):
    sum = sum + i
    
print(sum)

In [ ]:
sum = 0
for i in range(1,11):
    if i%2==0:
        sum = sum + i
print(sum)

### product of all the numbers from 1 to 10

In [ ]:
prod = 1
for i in range(1,11):
    prod = prod * i
print(prod)

In [ ]:
prod = 1
for i in range(1,11):
    if i%2==0:
        prod = prod*i
print(prod)

In [ ]:
prod = 1
for i in range(1,11):
    if i%2!=0:
        prod = prod*i
print(prod)

### factorial

In [ ]:
number = int(input("Enter the number of which you want to find factorial :"))
fact = 1
for i in range(1,number+1):
    fact = fact * i
    
print(fact)

In [ ]:
5*4*3*2*1

In [ ]:
import math as m
m.factorial(5)

In [ ]:
dict1 = {1:'One',2:'Two',3:'Three',4:'Four'}

In [ ]:
for i in dict1:
    print(i)#keys

In [ ]:
for i in dict1.values():
    print(i)

In [ ]:
for i in dict1.items():
    print(i)

In [ ]:
for i in dict1.keys():
    print(i)